<%-include partials/header.ejs%>
  <%-include partials/main_nav.ejs%>
    <!--Main Nav Navigation-->
    <main class="main-screen ">
      <br />
      <br />
      <div class="container">
        <div class="row justify-content-md-center">
          <div class="col-sm-4 text-white">
            <img src="Assets/images/Pravalika.jpg" alt="PC" height="300">
            <p></p>
            <div class="row text-white">
              <h4>Pravalika Chada</h4>
            </div>
          </div>
          <div class="col-sm-4">
            <div class="row text-white">
              <h2>About me</h2>
              <hr>
              <p>I'm currently enrolled in an Advanced Diploma Programme in Artificial Intelligence and I worked as a
                Senior Software Developer in the IT industry. With five years of experience in IT, I have honed my
                skills in Spring boot, Java, Rest API, react.js, HTML5, CSS. I am passionate about using technology to
                drive business growth and innovation, and I am dedicated to staying up-to-date with the latest
                developments in the field. I am excited to be part of a dynamic and fast-paced industry that is
                constantly evolving.
              </p>
            </div>
            <div class="row text-white">
              <p><i class="fa fa-paperclip" aria-hidden="true"></i><a href="Assets/documents/Pravalika_Chada.pdf"
                  target="_blank"> Resume</a>.</p>
            </div>
          </div>
        </div>
        <br/>
        <br/>
        <div>
          <div class="row justify-content-md-center">
            <div class="col-sm-2 text-white">
              <p><i class="fa fa-arrows" aria-hidden="true"></i> web Development</p>
            </div>
            <div class="col-sm-2 text-white">
              <p><i class="fa fa-arrows" aria-hidden="true"></i> web Design</p>
            </div>
          </div>
        </div>
      </div>
    </main>
    <!--<h1><%= title %></h1>-->
    <!--<p>Welcome to <%= title %></p>-->
    <!--Script section-->
    <%-include partials/bottom_nav.ejs%>
      <%-include partials/footer.ejs%>