<%-include partials/header.ejs%>
    <%-include partials/main_nav.ejs%>
        <main class="main-screen ">
            <!-- projects section -->
            <br />
            <div class="container" id="projects-page">
                <div class="row justify-content-md-center">
                    <div class="row">
                        <div class="col-md-4">
                            <div id="compensationProjectCard" class="card" style="width: 14rem;">
                                <img class="card-img-top" src="/Assets/images/compensation_dashboard.svg"
                                    alt="Compensation Dashboard">
                                <div class="card-body">
                                    <h6>Compensation Dashboard</h6>
                                    <p class="card-text">Worked on compensation management project at ADP, improving its
                                        capacity to accommodate various forms of compensation.</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div d="performanceProjectCard" class="card" style="width: 14rem;">
                                <img class="card-img-top" src="Assets/images/performance_dashboard.jpg"
                                    alt="Performance Dashboard">
                                <div class="card-body">
                                    <h6>Performance Dashboard</h6>
                                    <p class="card-text">Worked on performance management technology update and creation
                                        of new employee anniversary review plan.</p>
                                    <p class="card-text">
                                    <ul id="skill_list">
                                        <li>Spring Boot</li>
                                        <li>Reactjs</li>
                                        <li>Hibernate</li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div id="compensationProjectCard" class="card" style="width: 14rem;">
                                <img class="card-img-top" src="/Assets/images/recruitment_module.jpg"
                                    alt="Compensation Dashboard">
                                <div class="card-body">
                                    <h6>Recruitment</h6>
                                    <p class="card-text">Worked on integration of candidate profile with VidCruiter.</p>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </main>
        <!--<h1><%= title %></h1>-->
        <!--<p>Welcome to <%= title %></p>-->
        <!--Script section-->
        <%-include partials/bottom_nav.ejs%>
            <%-include partials/footer.ejs%>