<%-include partials/header.ejs%>
    <%-include partials/main_nav.ejs%>
        <main class="main-screen ">
            <br />
            <br />
            <br />
            <!-- services section -->
            <div class="container">
                <div class="justify-content-md-center">
                    <div class="row">
                        <div class="col-md-3">
                            <img class="rounded-circle" alt="Web Development" src="/Assets/images/web.jpeg" />
                            <p class="text-white">
                            <ul class="text-white">
                                <li>Custom website design and development</li>
                                <li>Responsive design for optimal viewing on all devices</li>
                                <li>Integration with third-party tools and services</li>
                                <li>User experience (UX) and user interface (UI) design</li>
                            </ul>
                            </p>
                        </div>
                        <div class="col-md-3">
                            <img class="rounded-circle" alt="UI/Ux Design" src="/Assets/images/design.png" />
                            <ul class="text-white">
                                <li>Ensured that the product is both user-friendly and aesthetically pleasing</li>
                                <li>Understand the needs and behavior of users</li>
                                <li>Refining the design based on feedback</li>
                            </ul>
                        </div>
                        <div class="col-md-3">
                            <img class="rounded-circle" alt="Java Programming" src="/Assets/images/java.jpeg" />
                            <p class="text-white">Have good knowledge on core java concepts,Java 8.</p>
                        </div>

                        <div class="col-md-3">
                            <img class="rounded-circle" alt="HTML & CSS" src="/Assets/images/html_caa.png" />
                            <p class="text-white">Have good knowledge on HTML5 and CSS.</p>
                        </div>
                    </div>
                </div>
            </div>
        </main>
        <!--<h1><%= title %></h1>-->
        <!--<p>Welcome to <%= title %></p>-->
        <!--Script section-->
        <%-include partials/bottom_nav.ejs%>
            <%-include partials/footer.ejs%>