<%-include ../partials/header.ejs%>
    <%-include ../partials/main_nav.ejs%>
        <!--Content for the Add Page-->
        <div class="container">
            <div class="row">
                <div class="offset-md-3 col-md-6">
                    <h1>
                        <%=title%>
                    </h1>
                    <form class="form" method="POST">
                        <div class="row form group">
                            <label class="col-4" for="nameTextField">Contact Name</label>
                            <input type="text" class="form control" id="nameTextField"
                                placeholder="Enter the contact name" name="name" value="<%=businessContact.name%>"
                                required>
                        </div>

                        <div class="row form group">
                            <label class="col-2" for="authorTextField">Contact Number</label>
                            <input type="text" class="form control" id="authorTextField" placeholder="Enter the number"
                                name="author" value="<%=businessContact.number%>" required>
                        </div>

                        <div class="row form group">
                            <label class="col-2" for="publishedTextField">Email</label>
                            <input type="text" class="form control" id="publishedTextField"
                                placeholder="Enter the address" name="published" value="<%=businessContact.email%>"
                                required>
                        </div>
                        <br />
                        <a href="/contactsList" class="btn btn-warning"><i class="fas fa-undo"></i>cancel</a>
                        <a href="/contactsList/delete/<%=businessContact._id%>" class="btn btn-danger">Delete</a>
                        <button class="btn btn-primary" type="submit"><i class="fas fa-edit"></i>Update</button>

                    </form>
                </div>
            </div>
        </div>



        <%-include ../partials/bottom_nav.ejs%>
            <%-include ../partials/footer.ejs%>